<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>象棋盘</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/chess.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div th:include="template :: #chess"/>

<button class="btn btn-primary" id="changeUser">切换角色</button>
<button class="btn btn-primary" id="prepare">准备</button>
</body>

<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.beattext.js}" type="text/javascript"></script>
<script th:src="@{/js/easying.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/util.js}" type="text/javascript"></script>
<script th:src="@{/js/socket.js}" type="text/javascript"></script>
<script th:src="@{/js/chessGame.js}" type="text/javascript"></script>
<script th:src="@{/js/operator.js}" type="text/javascript"></script>



</html>