<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简单登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <style>
        html {
            margin:0 auto;
            padding:0;
            height: 100%;
            width: 100%;
        }

        #visitor {
            width: 300px;
            height: 150px;
            background: url("../img/login/button2.png") center no-repeat;
            background-size: 100% 100%;
            position: fixed;
        }

        #account {
            width: 300px;
            height: 150px;
            background: url("../img/login/button3.png") center no-repeat;
            background-size: 100% 100%;
            position: fixed;
        }
    </style>
</head>
<body class="container" >
    <div class="row" id="gameTitle" style="position: fixed;display: none">
        <img th:src="@{/img/login/gameTitle.png}">
    </div>
    <div class="row" id="loginArea">
        <button class="btn col-lg-3"  id="visitor" style="display: none;"></button>
        <button class="btn col-lg-3"  id="account" style="display: none;"></button>
    </div>
    <div id="userContent" style="display: none;">
        <div id="loginDiv">
            <h1 style="font-family: serif">登录</h1>
            <div class="signin" >
                <input type="text" class="user" name="username" id="username"  placeholder="用户名"/>
                <input type="password" class="pass" name="password" id="password" placeholder="密码"/>
                <input type="submit" value="登录" id="login"/>
                <input type="submit" value="快速注册" id="toRegister" />
            </div>
        </div>
        <div id="registerDiv" style="display: none">
            <h1 style="font-family: serif">注册</h1>
            <div class="signin" >
                <input type="text" class="user" name="username_r" id="username_r"  placeholder="用户名"/>
                <input type="password" class="pass" name="password_r" id="password_r" placeholder="密码"/>
                <input type="password" class="pass" name="password_r" id="password_two" placeholder="再次输入密码"/>
                <input type="text" class="head" name="image_r" id="image_r" placeholder="头像地址"/>
                <input type="submit" value="注册" id="register" />
                <input type="submit" value="返回" id="back" />
            </div>
        </div>

    </div>
</body>
<script src="/js/jquery-3.1.1.min.js" ></script>
<script src="/js/bootstrap.js" ></script>
<script>
    var isLogin = false;
    $(function () {
        initUI();
        //游客登录
        $('#visitor').on('click', function () {
            login(0);
        });
        //帐号登录
        $('#account').on('click', function () {
            if (!isLogin) {
                isLogin = true;
                $('#loginArea').toggle(1500);
                $('#gameTitle').toggle(1500);
                $('#userContent').toggle(1500);
            }
        });
        $('#login').on('click', function () {
            login(1);
        });

        $('#toRegister').on('click', function () {
          changeDiv();
        });
        $('#back').on('click', function () {
            changeDiv();
        });
        $('#register').on('click', function () {
            var username = $('#username_r').val();
            var password = $('#password_r').val();
            var password_two = $('#password_two').val();
            var image_r = $('#image_r').val();


            if (checkNull(username, "用户名不能为空") || checkNull(password, "密码不能为空") || checkNull(image_r, "头像不能为空")) {
                return ;
            }
            if (password != password_two) {
                alert("两次输入的密码不一致,请确认");
                return ;
            }
            $.ajax({
                url: "/user/register",
                type: "post",
                data: {
                    username: username,
                    password: password,
                    imageUrl: image_r
                },
                success: function (data) {
                    checkNull(null, data.message);
                    if (data.success == true) {
                        changeDiv();
                    }
                }
            })
        })
    });
    function initUI() {
        var windowWidth = window.screen.width;
        var windowHeight = window.screen.height;
        console.log(windowHeight + " " + windowWidth)
        $('#gameTitle').css({"left": windowWidth / 2 - 390,"top": windowHeight / 2 - windowHeight * 0.3}).toggle(1500);

        $('#visitor').css({"left": windowWidth / 2 - 175 - 300,"bottom" : windowHeight * 0.1}).toggle(1500);
        $('#account').css({"left": windowWidth / 2 - 175 + 300,"bottom" : windowHeight * 0.1}).toggle(1500);

    }
    function login(type) {
        if (type === 0) {
            $.ajax({
                url: "/login/check",
                type: "post",
                data: {
                    username: "_visitor"
                },
                success: function (data) {
                    if (data.success === true) {
                        location.href =  "/index/model/start";
                    }
                }
            })
        }
        if (type === 1) {
            var username = $('#username').val();
            var password = $('#password').val();
            if (checkNull(username, "用户名不能为空") || checkNull(password, "密码不能为空")) {
                return ;
            }
           $.ajax({
                url: "/login/check",
                type: "post",
                data: {
                    username: username,
                    password: password
                },
                success: function (data) {
                    if (data.success == true) {
                        location.href =  "/index/model/start";
                    } else {
                        alert(data.message);
                    }
                }
            })
        }
    }
    function changeDiv() {
        $('#loginDiv').toggle(500);
        $('#registerDiv').toggle(500);
        setNull();
    }
    
    function setNull() {
        $('#username').val(null);
        $('#username_r').val(null);
        $('#password').val(null);
        $('#password_two').val(null);
        $('#password_r').val(null);
        $('#image_r').val(null);

    }
    function checkNull(val, msg) {
        console.log(msg)
        if (val == null || val == undefined || val == "") {
            alert(msg + "^_^");
            return true;
        }
        return false;
    }
</script>
</body>
</html>
