<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>象棋盘</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <style >
        html{
            margin:0 auto;
            padding:0;
            height: 100%;
        }
        body{
            background: url("../img/background/battle.jpg") center no-repeat;
            background-size: 100%;
            height: 100%;
        }
        canvas{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>

<body>
    <canvas id="canvas" class="center-block center " width="540" height="600"></canvas>
    <button class="btn btn-primary" id="changeUser">切换角色</button>
    <button class="btn btn-primary" id="prepare">准备</button>
    <div style="display: none">
        <img th:src="@{/img/chess/black_army.gif}" id="black_army">
        <img th:src="@{/img/chess/red_army.gif}" id="red_army">
        <img th:src="@{/img/chess/red_cannon.gif}" id="red_cannon">
        <img th:src="@{/img/chess/black_cannon.gif}" id="black_cannon">
        <img th:src="@{/img/chess/black_car.gif}" id="black_car">
        <img th:src="@{/img/chess/red_car.gif}" id="red_car">
        <img th:src="@{/img/chess/red_elephant.gif}" id="red_elephant">
        <img th:src="@{/img/chess/black_elephant.gif}" id="black_elephant">
        <img th:src="@{/img/chess/black_general.gif}" id="black_general">
        <img th:src="@{/img/chess/red_general.gif}" id="red_general">
        <img th:src="@{/img/chess/black_horse.gif}" id="black_horse">
        <img th:src="@{/img/chess/red_horse.gif}" id="red_horse">
        <img th:src="@{/img/chess/red_soldier.gif}" id="red_soldier">
        <img th:src="@{/img/chess/black_soldier.gif}" id="black_soldier">
    </div>
</body>

<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<!--<script th:src="@{/js/socket.js}?time=New Date()" type="text/javascript"></script>-->
<!--<script th:src="@{/js/chessGame.js}" type="text/javascript"></script>-->
<script src="/js/socket.js?version=200141" type="text/javascript"></script>
<script src="/js/chessGame.js?version=200411" type="text/javascript"></script>


<script>
    window.onload = function () {

        var chessGame = new ChessGame();
        var checkConnect, canStart, gameStart = false;
        if (!socket.connected()) {
            socket.connect("ws://127.0.0.1:8080/websocket");
        }
        $('#prepare').on("click", function () {
            //TODO  排队中 动画
            //请求变为准备状态
            socket.send(new socketMessage("prepare", null));
            //定时检测连接状态
            checkConnect = setInterval(checkConnect, 500);
        });
        /**
         * 收到消息的回调方法
         * @param event
         */
        webSocket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (data.type === "start") {
                gameStart = true;
                console.log("可以开始了")
            } else if (data.type === "move") {
                var content = data.content.split(";");
                var firstPoint = content[0].split(",");
                var secondPoint = content[1].split(",");
                var pointX = new Coordinate(parseInt(firstPoint[0]), parseInt(firstPoint[1]));
                var pointY = new Coordinate(parseInt(secondPoint[0]), parseInt(secondPoint[1]));
                chessGame.chessMove(pointX, pointY, otherUser);
            }
            console.log(data)
        };

        function checkConnect() {
            console.log("检测连接状态");
            var status = socket.connected();
            if (status) {
                clearInterval(checkConnect);
                //定时检测匹配状态
                canStart = setInterval(canStart, 500);
            }
            return status;
        }

        function canStart() {
            console.log("检测匹配状态");
            if (gameStart) {
                clearInterval(canStart);
                console.log("开始游戏")
                chessGame.start();
            }
        }
    }
</script>
</html>