<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>象棋盘</title>

		<link  th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />

	</head>

	<body class="container" th:background="@{/img/background/battle.jpg}">
		<canvas id="canvas" class="center-block " width="540px" height="600px"></canvas>
		<div style="display: none" >
			<img th:src="@{/img/chess/black-army.gif}" id="blackArmy">
			<img th:src="@{/img/chess/red-army.gif}" id="redArmy">
			<img th:src="@{/img/chess/red-cannon.gif}" id="redCannon">
			<img th:src="@{/img/chess/black-cannon.gif}" id="blackCannon">
			<img th:src="@{/img/chess/black-car.gif}" id="blackCar">
			<img th:src="@{/img/chess/red-car.gif}" id="redCar">
			<img th:src="@{/img/chess/red-elephant.gif}" id="redElephant">
			<img th:src="@{/img/chess/black-elephant.gif}" id="blackElephant">
			<img th:src="@{/img/chess/black-general.gif}" id="blackGeneral">
			<img th:src="@{/img/chess/red-general.gif}" id="redGeneral">
			<img th:src="@{/img/chess/black-house.gif}" id="blackHouse">
			<img th:src="@{/img/chess/red-house.gif}" id="redHouse">
			<img th:src="@{/img/chess/red-soldier.gif}" id="redSoldier">
			<img th:src="@{/img/chess/black-soldier.gif}" id="blackSoldier">
		</div>
	</body>

	<script  th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
	<script  th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
	<script>
        $(function () {
			var canvas_jquery = $("#canvas");
			var canvas = canvas_jquery[0];
			var ctx = canvas.getContext("2d");
			var signSize = 8;
			var signSpace = 3;
			var chessWidth = 50, chessHeight = 50;
			var fontSize = 40;
			//棋盘的线个数
			var xNum = 9, yNum = 5 * 2;
			//棋线间隔93
			var space = 60;
			//有效的坐标
			var validCoordinate = new Array();
			//绘制棋盘外边框粗黑
			var blackRect = new coordinate(20, 20);
			ctx.lineWidth = 4;
			ctx.strokeStyle = "black";
			ctx.strokeRect(blackRect.x, blackRect.y, 490, 550);
            ctx.lineWidth = 2;
            //将棋盘视为以左上角 （10，10） 为圆点的坐标轴
			var start = new coordinate(blackRect.x + 5, blackRect.y + 5);
			var end = new coordinate(getCoordinateX(xNum - 1), getCoordinateY(yNum - 1));
			//初始化界面
			initUI();
			//初始化数据
			initData();
			//初始化事件
			initEvent();

            function initUI() {
                //绘制棋盘
                drawChessBoard();
                //绘制四条斜线
                drawSlash();
                //画*花标志
                drawAllSign();
                //初始化棋盘位置
                drawChess();
                //绘制楚河汉界
                drawFont();
            }
			function initData() {
                //保存有效坐标
                saveValidCoordinate();
            }
            
            function initEvent() {
                canvas_jquery.on('click', function (e) {
                    var point = getPointOnCanvas(e.clientX, e.clientY);
                    //得到距离鼠标最近的画布坐标
                    var nearestCoordinate = getNearestCoordinate(point);
					console.log(nearestCoordinate.x / space + " , " + nearestCoordinate.y / space)
                })
            }


            function getNearestCoordinate(point) {
                var res = new coordinate(0, 0);
                var min = 0x3fffffff;
                var len;
				validCoordinate.forEach(function (crd) {
				    len = Math.sqrt(Math.pow(point.x - crd.x, 2) + Math.pow(point.y - crd.y, 2));
					if (len < min) {
					    min = len;
					    res = crd;
					}
				});
				return res;
            }
			/**
			 * 获得当前鼠标在canvas上的坐标
			 *@param x	实际坐标
			 *@param y	实际坐标
			 *
			 **/
            function getPointOnCanvas(x, y) {
                var rect = canvas.getBoundingClientRect();
                return { x: Math.round((x - rect.left ) * (canvas.width / rect.width)),
                    y: Math.round((y - rect.top) * (canvas.height / rect.height))
                };
            }
            //绘制棋子
			function drawChess() {
                //绘制红方卒子
                drawImage($('#redArmy')[0], getCoordinateX(0), getCoordinateY(3));
                drawImage($('#redArmy')[0], getCoordinateX(2), getCoordinateY(3));
                drawImage($('#redArmy')[0], getCoordinateX(4), getCoordinateY(3));
                drawImage($('#redArmy')[0], getCoordinateX(6), getCoordinateY(3));
                drawImage($('#redArmy')[0], getCoordinateX(8), getCoordinateY(3));
                //绘制红車
                drawImage($('#redCar')[0], getCoordinateX(0), getCoordinateY(0));
                drawImage($('#redCar')[0], getCoordinateX(8), getCoordinateY(0));
                //绘制红马
                drawImage($('#redHouse')[0], getCoordinateX(1), getCoordinateY(0));
                drawImage($('#redHouse')[0], getCoordinateX(7), getCoordinateY(0));
                //绘制红象
                drawImage($('#redElephant')[0], getCoordinateX(2), getCoordinateY(0));
                drawImage($('#redElephant')[0], getCoordinateX(6), getCoordinateY(0));
                //绘制红士
                drawImage($('#redSoldier')[0], getCoordinateX(3), getCoordinateY(0));
                drawImage($('#redSoldier')[0], getCoordinateX(5), getCoordinateY(0));
                //绘制红炮
                drawImage($('#redCannon')[0], getCoordinateX(1), getCoordinateY(2));
                drawImage($('#redCannon')[0], getCoordinateX(7), getCoordinateY(2));
                //绘制红将军
                drawImage($('#redGeneral')[0], getCoordinateX(4), getCoordinateY(0));
                //绘制黑方卒子
                drawImage($('#blackArmy')[0], getCoordinateX(0), getCoordinateY(6));
                drawImage($('#blackArmy')[0], getCoordinateX(2), getCoordinateY(6));
                drawImage($('#blackArmy')[0], getCoordinateX(4), getCoordinateY(6));
                drawImage($('#blackArmy')[0], getCoordinateX(6), getCoordinateY(6));
                drawImage($('#blackArmy')[0], getCoordinateX(8), getCoordinateY(6));
                //绘制黑車
                drawImage($('#blackCar')[0], getCoordinateX(0), getCoordinateY(9));
                drawImage($('#blackCar')[0], getCoordinateX(8), getCoordinateY(9));
                //绘制黑马
                drawImage($('#blackHouse')[0], getCoordinateX(1), getCoordinateY(9));
                drawImage($('#blackHouse')[0], getCoordinateX(7), getCoordinateY(9));
                //绘制红象
                drawImage($('#blackElephant')[0], getCoordinateX(2), getCoordinateY(9));
                drawImage($('#blackElephant')[0], getCoordinateX(6), getCoordinateY(9));
                //绘制黑士
                drawImage($('#blackSoldier')[0], getCoordinateX(3), getCoordinateY(9));
                drawImage($('#blackSoldier')[0], getCoordinateX(5), getCoordinateY(9));
                //绘制黑将军
                drawImage($('#blackGeneral')[0], getCoordinateX(4), getCoordinateY(9));
                //绘制黑炮
                drawImage($('#blackCannon')[0], getCoordinateX(1), getCoordinateY(7));
                drawImage($('#blackCannon')[0], getCoordinateX(7), getCoordinateY(7));
            }
            //得到相对于棋盘的X坐标位置
            function getCoordinateX(num) {
				return start.x + space * num;
            }
            //得到相对于棋盘的Y坐标位置
            function getCoordinateY(num) {
                return start.y + space * num;
            }
            //在 (x,y)处绘制图片image
            function drawImage(image, x, y) {
                ctx.drawImage(image, x - chessWidth / 2, y - chessHeight / 2, chessWidth, chessHeight);
            }
            //绘制所有的*花
            function drawAllSign() {
                sign(getCoordinateX(1), getCoordinateY(2), 2);
                sign(getCoordinateX(1), getCoordinateY(7), 2);
                sign(getCoordinateX(7), getCoordinateY(2), 2);
                sign(getCoordinateX(7), getCoordinateY(7), 2);

                sign(getCoordinateX(0), getCoordinateY(3), 1);
                sign(getCoordinateX(2), getCoordinateY(3), 2);
                sign(getCoordinateX(4), getCoordinateY(3), 2);
                sign(getCoordinateX(6), getCoordinateY(3), 2);
                sign(getCoordinateX(8), getCoordinateY(3), 0);

                sign(getCoordinateX(0), getCoordinateY(6), 1);
                sign(getCoordinateX(2), getCoordinateY(6), 2);
                sign(getCoordinateX(4), getCoordinateY(6), 2);
                sign(getCoordinateX(6), getCoordinateY(6), 2);
                sign(getCoordinateX(8), getCoordinateY(6), 0);
            }
            //绘制棋盘
            function drawChessBoard() {
                var cnt_x = 0, cnt_y = 0;
                //横线
                for (var i = start.x; cnt_x < xNum; i = i + space, cnt_x++) {
                    //绘制红方横线
                    drawLine(i, start.y, i, getCoordinateY(4));
                    //绘制黑方横线
                    drawLine(i, getCoordinateY(5), i, end.y);
                }
                //竖线
                for (var j = start.y; cnt_y < yNum; j = j + space, cnt_y++) {
                    drawLine(start.x, j, end.x, j);
                }
            }
            //绘制四条斜线
            function drawSlash() {
                drawLine(getCoordinateX(3), getCoordinateY(0), getCoordinateX(5), getCoordinateY(2));
                drawLine(getCoordinateX(3), getCoordinateY(7), getCoordinateX(5), getCoordinateY(9));
                drawLine(getCoordinateX(3), getCoordinateY(2), getCoordinateX(5), getCoordinateY(0));
                drawLine(getCoordinateX(3), getCoordinateY(9), getCoordinateX(5), getCoordinateY(7));
            }
            //绘制楚河汉界
            function drawFont() {
			    ctx.save();
				ctx.font = fontSize + "px microsoft yahei";
				var size = fontSize / 2;
				ctx.fillText('楚', getCoordinateX(2) - size, getCoordinateY(5) - size);
    			ctx.fillText('河', getCoordinateX(3) - size, getCoordinateY(5) - size);
    			ctx.fillText('汉', getCoordinateX(5) - size, getCoordinateY(5) - size);
    			ctx.fillText('界', getCoordinateX(6) - size, getCoordinateY(5) - size);
            }
            //保存有效的坐标位置
            function saveValidCoordinate() {
                var index = 0;
				for (var i = 0; i < xNum - 1; i++) {
				    for(var j = 0; j < yNum - 1; j++) {
                        validCoordinate[index++] = new coordinate(getCoordinateX(i), getCoordinateY(j));
					}
				}
            }

            /**
             * 绘制棋盘线
             * @param x_s	起始坐标x
             * @param y_s	起始坐标y
             * @param x_e	结束坐标x
             * @param y_e	结束坐标y
             */
            function drawLine(x_s, y_s, x_e, y_e) {
                ctx.beginPath();
                ctx.moveTo(x_s, y_s);
                ctx.lineTo(x_e, y_e);
                ctx.stroke();
            }

            /**
             * 坐标对象
             * @param x	x坐标
             * @param y	y坐标
             */
            function coordinate(x, y) {
                this.x = x;
                this.y = y;
            }
            /**
             * 画*花标志
             * @param x	坐标x
             * @param y	坐标y
             */
            function sign(x, y, type) {
                //右边*花
                if (type != 0) {
                    drawLine(x + signSpace, y + signSpace, x + signSpace, y + signSpace + signSize);
                    drawLine(x + signSpace, y + signSpace, x + signSpace + signSize, y + signSpace);

                    drawLine(x + signSpace, y - signSpace, x + signSpace, y - signSpace - signSize);
                    drawLine(x + signSpace, y - signSpace, x + signSpace + signSize, y - signSpace);
                }

                //左边*花
                if (type != 1) {
                    drawLine(x - signSpace, y - signSpace, x - signSpace, y - signSpace - signSize);
                    drawLine(x - signSpace, y - signSpace, x - signSpace - signSize, y - signSpace);

                    drawLine(x - signSpace, y + signSpace, x - signSpace, y + signSpace + signSize);
                    drawLine(x - signSpace, y + signSpace, x - signSpace - signSize, y + signSpace);
                }
            }
        });
	</script>
</html>